<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzDance</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'ezdancing.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>
    <h1>Bienvenue sur </h1>
    <h2>EzDance</h2>
<a href="/login">se connecter</a> / <a href="/signup">s'inscrire</a> /bypass admin::<a href="/accueil">accueil</a>
</body>
</html>
