<!DOCTYPE html>
<html lang="fr">
<head>
    <title>EzD:saved</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'ezdancing.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/">.:accueil</a>
   votre choré a bien été sauvegardée. 
</body>
</html>